@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");


*{
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

main.landing{
    width: 100vw;
    height: 100vh;
}
/*
nav ul li:hover{
    transition: 500ms;
    background-color: #fafafa2c;
    border-radius: 0.7rem;   
}*/


/*
nav ul li{
    position: relative;
    padding: 0rem 1rem;
}*/

.Typewriter__wrapper{
    font-family: 'Anonymous Pro',monospace;
}



.wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 2vh;
}

.next{
  color: var(--next-color);
}

.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    color: white;
    border: white;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    #logo{
        width: 90vw;
    }
    .cta{
        padding: 5px 23px;
        font-size: 2em;
    }
    .next{
        margin-top: 10px;
    }
    .typeWriter{
        font-size: 4vh;
        margin-top: 8vh;
    }
    .brand-logo{
        font-size: 5vw !important;
    }
}

.cta:focus {
    outline: none;
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 white;
}

.cta span.bellogo:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

span.bellogo {
    transform: skewX(15deg)
}

span.bellogo:nth-child(2) {
    width: 10px;
    margin-left: 20px;
    position: relative;
    top: 12%;
}

/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: #e24343;
    }

    100% {
        fill: white;
    }
}
/*  Home page styles */

.icon{
    vertical-align: -20px;
}

.css-1mf073k-ToastElement{
    width: inherit !important;
}


*::selection {     color: white;     background: rgba(243, 37, 71, 0.7); }  

*::-moz-selection {     color: white;     background: rgba(243, 37, 71, 0.7) }

.page{
    background-color: #171717;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23dc2626' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%237a1f1f' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d22526' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23681f1f' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23c82525' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23551e1f' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23be2424' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23431d1d' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23b52424' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23311b1b' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23ab2323' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%231e1818' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}



/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(117, 117, 117, 0.5);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(124, 124, 124); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100); 
}


.card{
    overflow: hidden;
    display: inline-block;
    transition-duration: .3s;
}

.card:hover{
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: .3s;
    transform: translateY(-3px);
}


.pointer{
    cursor: pointer;
}

.no-select{
    user-select: none;
}

